<%- include('partials/header.ejs') %>
    <body>
        <h1>Welcome to Earth</h1>
        <h2>Earth is our home, the third planet of the inner planets and is the only planet that can sustain life due to the 
        oxygen and water it contains. The Earth's surface has a composition of 71% water. In addition, Earth is a rocky planet 
        and has an atmosphere with gases that make it possible to have a balance to breathe and support life. Furthermore, it takes 
        24 hours for Earth to complete one day and 365 days for one revolution around the Sun. Finally, Earth has a moon.</h2>
    <img src="/img/earth.jpg" class="earth1" alt="Earth planet" />
<%- include('partials/footer.ejs') %>