<%- include('partials/header.ejs') %>
    
    <h1>The Solar System</h1>
    <h2>The Solar system is ubicated in the Milky Way. The Solar System was formed 4.57 billion years ago by the collision of gas and interstellar dust.
    In addition, the Solar System has 4 inner planets and 4 outer planets orbit around the Sun.
    Beyond, the Solar System has asteroids, comets, moons, and other celestial objects.</h2>
    
        <!--<h1> Welcome to the Solar System Site!</h1>-->
        <!--<p>Click on a planet to know more about it:</p>-->
        
            <!--<a href="/mercury"> Mercury </a> <br>-->
            <!--<a href="/venus">   Venus   </a> <br>-->
            <!--<a href="/earth">   Earth   </a> <br>-->
    <img src="/img/solar_system.jpg" class="solar1" alt="The Solar System"/>
<%- include('partials/footer.ejs') %>