<%- include('partials/header.ejs') %>
    <body>
        <h1>Welcome to Jupiter</h1>
        <h2>Jupiter is the largest and massive outer planet of the Solar System. 
        Jupiter is a gas giant and it has a solid inner core. Jupiter is mainly composed 
        of hydrogen and helium. In addition, this planet has a Great Red Spot that is a 
        gigantic hurricane.  Finally, Jupiter has 75 moons, and the 4 largest moons are 
        Io, Europa, Ganymede, and Callisto.</h2>
    <img src="/img/jupiter.jpg" class="jupiter1" alt="Jupiter planet and 4 moons" />
<%- include('partials/footer.ejs') %>