<%- include('partials/header.ejs') %>
    <body>
        <h1>Welcome to Uranus</h1>
        <h2>Uranus is an ice giant, its composition is water, methane, and ammonia. 
        Uranus has a blue color due to the methane gas atmosphere. In addition, Uranus 
        is the only planet with vertical rotation.  Also, this planet has the weirdest seasons 
        42 years of daylight and 42 years of darkness. Uranus has rings like Saturn, and it has 27 moons.</h2>
    <img src="/img/uranus.jpg" alt="Uranus planet" />
<%- include('partials/footer.ejs') %>