<%- include('partials/header.ejs') %>
    <body>
        <h1>Welcome to Venus</h1>
        <h2>Venus is the second inner planet. Venus temperature can reach 900 degrees Fahrenheit 
        due to its atmospheric composition of carbon dioxide which creates a greenhouse effect. 
        Furthermore, this planet is covered in volcanoes which also generates heat. In addition, 
        Venus is the second brightest object at night after Earth's moon. Finally, this planet has no moons.</h2>
    <img src="/img/venus.jpg" class="venus1" alt="Venus planet" />
<%- include('partials/footer.ejs') %>